src/Cylindre.ppm
src/lray
src/r.json
src/scene1.json
src/scene2.json
src/TOTOTAKa.ppm
src/TOTOTAKa2.ppm
src/CMakeFiles/lray.dir/Raytracer.cpp.o
src/r.json
src/scene1.json
src/lray
src/scene1.json
src/scene2.json
src/r.json
src/Cylindre.ppm
src/r.json
